# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [49]:
a = b = 1
(f'a = {a}, id(a) = {id(a)}; b = {b}, id(b) = {id(b)}', a == b, id(a) == id(b))

('a = 1, id(a) = 139783855243504; b = 1, id(b) = 139783855243504', True, True)

 *Так, не тільки значення однакові, а ще й посилання, оскільки посилання на значення від -5 до 256 є зарезервованими в пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [50]:
(isinstance(True, bool), isinstance(True, int))

(True, True)

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [51]:
my_int = 11
my_double = 3.25

print('addintion:', my_int + my_double)

print('subtraction:', my_int - my_double)

print('division:', my_int / my_double)

print('multiplication:', my_int * my_double)

print('multiplication no remainder:', my_int // my_double)

print('multiplication by module:', my_int % my_double)

print('exponentiation:', my_int ** my_double)

addintion: 14.25
subtraction: 7.75
division: 3.3846153846153846
multiplication: 35.75
multiplication no remainder: 3.0
multiplication by module: 1.25
exponentiation: 2423.9643417812076

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [52]:
print('double to int:', int(my_double))

my_bool = True

print('boolto int:', int(my_bool))

double to int: 3
boolto int: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [53]:
my_string = ''
my_string2 = str()
(my_string, my_string2)

('', '')

*6*. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [54]:
my_string = 'string with this \' symbol'
my_string2 = r'secong string with this \' symbol'
(my_string, my_string2)

("string with this ' symbol", "secong string with this \\' symbol")

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [55]:
my_surname = 'Rudnyk'

f_string = f'My surname is {my_surname}'
print(f_string)

My surname is Rudnyk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [56]:
splitted_str = "My dog is crazy."[:-1].lower().split()
print(splitted_str)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

*9*. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [57]:
my_list1 = [1, 2, 3, 4, 5]
my_list2 = list(range(1, 5))
print(my_list1, my_list2, 'len of my_list1:', len(my_list1))

[1, 2, 3, 4, 5] [1, 2, 3, 4] len of my_list1: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [58]:
my_list1.append(my_list2)
print(my_list1)

[1, 2, 3, 4, 5, [1, 2, 3, 4]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [59]:
my_list_of_lists = [[2, 4, 5], [7, 8, 1], [1, 2, 3]]
print(my_list_of_lists[-1][0])

1

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [60]:
my_list = [2, "Hello", True, 5.6, ["No", "Yes"], False, [15.4, 16.5], (3, 7), 100, "Bye"]
my_list_save = my_list[2:-2]
print(my_list_save)

[True, 5.6, ['No', 'Yes'], False, [15.4, 16.5], (3, 7)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [61]:
my_tuple = (1,)
print(my_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*Схожість: обидві послідовності містять множину значень, які мають свій індекс, тому можна обидві ці структури перебирати циклом (Slicing). В них можна зберігати різні типи, але робити це в кортежі не рекомендовано

Відмінність: Синтаксис списку - [], кортежу - ();
список змінний, кортеж - ні;
список повільніщий та займає більше пам'яті, кортеж - швидший та менше пам'яті потребує. В множину кортеж можна додати, а список - ні.

Кортежі використовують, коли дані не будуть змінювати, після створення цього кортежа. А списки, коли потрібно вносити зміни до набору даних

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [62]:
my_tuple = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.11, 11.11)
my_tuple_modified = my_tuple[::-2]
print(my_tuple_modified)

(11.11, 9.9, 7.7, 5.5, 3.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [63]:
my_set = set()
my_set.add(10)
my_set.add("HIIIIII")
my_set.add((1.1, 2.2))
my_set

{(1.1, 2.2), 10, 'HIIIIII'}

*Так множини є змінним типом, оскільки в них можна додавати та видаляти елементи, але лише ті, що є immutable.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [64]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
my_set

{1, 2, 8, 9, 67}

*Оскільки множина містить лише унікальні значення, а дубльовані дані зникають

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [65]:
my_set1 = {1 , 2 , 3, "Hi", "Bye"}
my_set2 = {2 , 3, "Bye", 10, 20, "Good"}

union_set = my_set1.union(my_set2)
print('Union:', union_set)

difference_set = my_set1.difference(my_set2)
print("Difference:", difference_set)

intersection_set = my_set1.intersection(my_set2)
print("Intersection:", intersection_set)

symmetric_difference_set = my_set1.symmetric_difference(my_set2)
print("Symmetric_difference:", symmetric_difference_set)

Union: {'Good', 1, 2, 3, 10, 20, 'Hi', 'Bye'}
Difference: {1, 'Hi'}
Intersection: {'Bye', 2, 3}
Symmetric_difference: {'Good', 1, 20, 'Hi', 10}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [66]:
my_dict = {}
my_dict[10] = "int"
my_dict[5.5] = "float"
my_dict["a"] = "string"
my_dict[(3, 1, 3)] = "tuple key"
print(my_dict)

{10: 'int', 5.5: 'float', 'a': 'string', (3, 1, 3): 'tuple key'}

*Ні, оскільки список це мутабельний тип, а ключем словника можуть бути лише незмінні типи.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [67]:
my_dict = {1: "This", 10: "that"}
my_dict_inner = {1: "Bohdan", 2: "Rudnyk"}
my_dict={"inner": my_dict_inner}
my_dict["inner"][1]

'Bohdan'

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.