# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [4]:
my_fav_num = 18
if my_fav_num % 2 == 0:
  print(my_fav_num * 2)
else:
  print(my_fav_num * 3 + 1)

36

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [7]:
my_list = []

if not my_list:
  my_list.append(100)

print(my_list)

[100]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [47]:
my_name = 'Bohdan'
if 'a' in my_name or "i" in my_name:
  print("A or I is in the name")

if 'o' in my_name and "n" in my_name:
  print("O and N is in the name")

if "n" in my_name and "o" not in my_name:
  print("Only N is in the name")

if "n" not in my_name:
  print("There is no N in the name, but there might be O")

A or I is in the name
O and N is in the name

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [12]:
my_list = [i for i in range(15) if i % 2 != 0]
my_list

[1, 3, 5, 7, 9, 11, 13]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [14]:
my_dict = {i: i * 10 if i % 2 == 0 else i * 5 for i in range(15)}
my_dict

{0: 0,
 1: 5,
 2: 20,
 3: 15,
 4: 40,
 5: 25,
 6: 60,
 7: 35,
 8: 80,
 9: 45,
 10: 100,
 11: 55,
 12: 120,
 13: 65,
 14: 140}


*На мою думку, comprehensions слід використовувати, коли умова легка, наприклад лише один if. Але якщо є складна логіка, то краще не намагаютися всунути вираз в comprehensions.

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [15]:
my_list = ['hello', 'world', 'pencil', 'backpack']
my_list2 = [w[:3].upper() for w in my_list]
my_list2

['HEL', 'WOR', 'PEN', 'BAC']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [38]:
num = 15
while (num > 0):
  print('Number:', num)
  num -= 1

Number: 15
Number: 14
Number: 13
Number: 12
Number: 11
Number: 10
Number: 9
Number: 8
Number: 7
Number: 6
Number: 5
Number: 4
Number: 3
Number: 2
Number: 1

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [24]:
for i in range(21):
  if (i % 2 != 0):
    print(i)

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [25]:
my_list = [False, True, None, True, False]
res_list = []

for i in range(len(my_list)):
  res_list.append((i, my_list[i]))

res_list

[(0, False), (1, True), (2, None), (3, True), (4, False)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [29]:
books_dic = {'A Tale of Two Cities': 5,
             'The Hobbit': 10,
             'The Alchemist': 7,
             'The Ginger Man': 1,
             'The Tale of Peter Rabbit': 3,
             'James and the Giant Peach': 4}
for book in books_dic:
  books_dic[book] += 5

books_dic

{'A Tale of Two Cities': 10,
 'The Hobbit': 15,
 'The Alchemist': 12,
 'The Ginger Man': 6,
 'The Tale of Peter Rabbit': 8,
 'James and the Giant Peach': 9}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [46]:
my_n = 10

for i in range(1, my_n + 1):
  print(''.join(['#' for _ in range(i)]), '\n')

#

##

###

####

#####

######

#######

########

#########

##########

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [42]:
import random

num_to_guess = random.randint(1, 100)
attempts = 1

print('Game has started')
guess = int(input('Enter a num: '))
while guess != num_to_guess:
  if guess >= num_to_guess:
    print("Lower, try again")
  else:
    print("Higher, try again")
  attempts += 1;
  guess = int(input('Enter a num: '))

print('Congrats, attempts: ', attempts)

Game has started
Enter a num: 50
Higher, try again
Enter a num: 75
Higher, try again
Enter a num: 80
Higher, try again
Enter a num: 90
Lower, try again
Enter a num: 85
Higher, try again
Enter a num: 87
Congrats, attempts:  6

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.